<h5> About you</h5>

<label>Location:
  <input type="text" ng-model="user.location" name="location" />
</label><br />
<label>Association:
  <input type="text" ng-model="user.association" name="association"  placeholder="e.g. NBA, NFL"/>
</label><br />
<label>Team:
  <input type="text" ng-model="user.team" name="team" />
</label><br />
<label>Sports:
  <input type="checkbox" ng-model="user.sports" value="" />
</label><br />

<div class="row">
  <div>
      <a ui-sref="form.basic" class="btn btn-block btn-danger">
      Back <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>

  <div>
      <a ui-sref="form.socialMedia" class="btn btn-block btn-info">
      Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
